:root {
    --background-color: #000000;
    --display-bg-color: #333333;
    --display-text-color: #ffffff;
    --button-bg-color: #505050;
    --button-text-color: #ffffff;
    --button-special-bg-color: #a5a5a5;
    --button-special-text-color: #000000;
    --button-operation-bg-color: #F1A33B;
    --button-operation-text-color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

#calculator {
    width: 320px;
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
    background-color: var(--display-bg-color);
    color: var(--display-text-color);
    font-size: 2.5em;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.button.special {
    background-color: var(--button-special-bg-color);
    color: var(--button-special-text-color);
}

.button.operation {
    background-color: var(--button-operation-bg-color);
    color: var(--button-operation-text-color);
}

.button.zero {
    grid-column: span 2;
    border-radius: 40px; /* Ajustar el borde redondeado para el botón 0 */
    padding-left: 60px; /* Alinear el texto hacia la izquierda */
}
